@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first web application!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/znW8js7ukes" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h3>Here is my first JavaScript Animation!</h3>
    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>
    <button onclick="myMove()">Click me!</button>
</div>   